@backgroundColor: #121212;

body {
    background-color: @backgroundColor;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5vw;
    background-color: lighten(@backgroundColor,16%);
    opacity: 80%;
    box-shadow: 0px 11px 15px -7px black;
}

.head-text {
    color: white;
    font-size: 2.5em;
    padding-top: 5px;
    padding-left: 15px;
}

.git-text {
    color: white;
    font-size: 1em;
    padding-top: 45px;
    padding-right: 10px;
}

.app-body{
    display: flex;
    margin-top: 15px;
}

.side-bar {
    color: white;
    border-right: 1px solid white;
    width: 20vw;
    height: 35vw;
}

.list-area {
    color: white;
    height: 35vw;
}